<div class="py-3 container">
    <div class="text-center">
        <h2>Create New Ticket</h2>
    </div>
    <div>
        <form [formGroup]="form">
            <label>Phone number</label>
            <label style="color: tomato;">*</label>
            <input type="text" class="form-control mb-2" formControlName="phoneNumber" placeholder="Please enter phone number ...">

            <label>Governorate</label>
            <label style="color: tomato;">*</label>
            <select class="form-select mb-2" formControlName="governorate">
                <option value="" disabled selected>Select Governorate</option>
                <option [value]="governorate" *ngFor="let governorate of governorates">{{governorate}}</option>
            </select>

            <label>City</label>
            <label style="color: tomato;">*</label>
            <select class="form-select mb-2" formControlName="city">
                <option value="" disabled selected>Select City</option>
                <option [value]="city" *ngFor="let city of cities">{{city}}</option>
            </select>
            
            <label>District</label>
            <label style="color: tomato;">*</label>
            <select class="form-select mb-3" formControlName="district">
                <option value="" disabled selected>Select District</option>
                <option [value]="district" *ngFor="let district of districts">{{district}}</option>
            </select>
        </form>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" (click)="submitForm()" [disabled]="form.invalid">Submit</button>
        </div>
    </div>
</div>